@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;


.form{
  padding: 20px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

/* Сама форма */
form {
  background: $background-section;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
}

/* Стилі для полів */
form label {
  display: block;
  font-weight: bold;
  color: $white-color;
  width: 100%;
  max-width: 200px;
}

form input,
form textarea,
form select {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  color: #495057;
}

form input:focus,
form textarea:focus,
form select:focus {
  outline: none;
  border-color: $black-color;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

/* Стилі для кнопки */
form button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 16px;
  color: $white-color;
  background-color:$background-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

/* Стилі для помилок */
.error-message {
  color: #dc3545;
  font-size: 16px;

}

.form-title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.current-photos {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  gap: 10px;
}

.photo-item {
  position: relative;
  display: inline-block;
}

.photo-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-photo-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.field-container__photo-field{
  max-width: 300px;
  width: 100%;
}

.photo-field{
  display: flex;
  flex-wrap: wrap;

@media (max-width: 578px){
  flex-direction: column;
}
}